<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ECharts Demo2</title>

        <!--bootstrap-->
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
        <!--main-->
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
    <!--navigation start-->
    <nav>
        <ul class="tabs">
            <li>
                <a href="demo1.html">Demo1</a>
            </li>
            <li class="active">
                <a href="demo2.html">Demo2</a>
            </li>
            <li>
                <a href="demo3.html">Demo3</a>
            </li>
            <li>
                <a href="demo4.html">Demo4</a>
            </li>
            <li>
                <a href="demo5.html">Demo5</a>
            </li>
            <li>
                <a href="demo6.html">Demo6</a>
            </li>
            <li>
                <a href="demo7.html">Demo7</a>
            </li>
        </ul>
    </nav>
    <!--navigation end-->

    <!--demo2 content start-->
    <div class="content">
        <div id="demo2Content"></div>
    </div>
    <!--demo2 content end-->

    <!--jQuery 3.1.1-->
    <script type="text/javascript" src="../lib/jquery-3.1.1.min.js"></script>
    <!--bootstrap-->
    <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.js"></script>
    <!--echarts-->
    <script type="text/javascript" src="../lib/echarts.js"></script>
    <!--main-->
    <script type="text/javascript" src="../js/demo2.js"></script>
    </body>
</html>