<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ECharts Demo</title>

        <!--bootstrap-->
        <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.css">
        <!--main-->
        <link rel="stylesheet" href="../css/main.css">
    </head>

    <body>
        <nav>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
        <div class="content"></div>

        <!--bootstrap-->
        <script type="text/javascript" src="../lib/bootstrap/js/bootstrap.js"></script>
        <!--echarts-->
        <script type="text/javascript" src="../lib/echarts.js"></script>
        <!--main-->
        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>